CREATE VIEW [dbo].[VW_TICKET_IMPRESION]
AS
SELECT        CODCIA, FECHAEMISION, TIPOCOMPROBANTE, SERIECOMPROBANTE, NUMEROCOMPROBANTE, CODIGOCLIENTE, listaTickets, LEN(listaTickets) AS items
FROM            dbo.UFN_TICKET_IMPRESION() AS UFN_TICKET_IMPRESION_1

GO
/****** Object:  Table [dbo].[CAMPANIA]    Script Date: 31/07/2024 12:07:20 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMPANIA](
	[IDCAMPANIA] [int] NOT NULL,
	[CODCIA] [char](2) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[FECHAINICIO] [date] NOT NULL,
	[FECHAFIN] [date] NOT NULL,
	[MONTO] [money] NULL,
	[ACTIVO] [bit] NOT NULL,
	[CU_REGISTER] [varchar](20) NOT NULL,
	[FE_REGISTER] [datetime] NOT NULL,
	[ELIMINADO] [bit] NOT NULL,
	[CU_DELETE] [varchar](20) NULL,
	[FE_DELETE] [datetime] NULL,
 CONSTRAINT [PK_CAMPANIA] PRIMARY KEY CLUSTERED 
(
	[IDCAMPANIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAMPANIA_LOG]    Script Date: 31/07/2024 12:07:20 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMPANIA_LOG](
	[IDCAMPANIA] [int] NOT NULL,
	[CODCIA] [char](2) NOT NULL,
	[IDLOG] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[FECHAINICIO] [date] NOT NULL,
	[FECHAFIN] [date] NOT NULL,
	[MONTO] [money] NULL,
	[ACTIVO] [bit] NOT NULL,
	[CU_REGISTER] [varchar](20) NOT NULL,
	[FE_REGISTER] [datetime] NOT NULL,
	[ELIMINADO] [bit] NOT NULL,
	[CU_DELETE] [varchar](20) NULL,
	[FE_DELETE] [datetime] NULL,
 CONSTRAINT [PK_CAMPANIAS_LOG] PRIMARY KEY CLUSTERED 
(
	[IDCAMPANIA] ASC,
	[CODCIA] ASC,
	[IDLOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 31/07/2024 12:07:20 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[CODCIA] [char](2) NOT NULL,
	[IDTICKET] [bigint] NOT NULL,
	[IDCAMPANIA] [int] NOT NULL,
	[RUCEMISOR] [varchar](11) NOT NULL,
	[FECHAEMISION] [date] NOT NULL,
	[TIPOCOMPROBANTE] [char](1) NOT NULL,
	[SERIECOMPROBANTE] [varchar](3) NOT NULL,
	[NUMEROCOMPROBANTE] [bigint] NOT NULL,
	[CODIGOCLIENTE] [bigint] NOT NULL,
	[NUMEROTICKET] [varchar](20) NOT NULL,
	[FE_REGISTER] [datetime] NOT NULL,
	[CU_REGISTER] [varchar](20) NOT NULL,
	[HOSTING] [bit] NOT NULL,
 CONSTRAINT [PK_TICKET] PRIMARY KEY CLUSTERED 
(
	[CODCIA] ASC,
	[IDTICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CAMPANIA] ADD  CONSTRAINT [DF_CAMPANIAS_ACTIVO]  DEFAULT ((1)) FOR [ACTIVO]
GO
ALTER TABLE [dbo].[CAMPANIA] ADD  CONSTRAINT [DF_CAMPANIAS_FE_REGISTER]  DEFAULT (getdate()) FOR [FE_REGISTER]
GO
ALTER TABLE [dbo].[CAMPANIA] ADD  CONSTRAINT [DF_CAMPANIAS_ELIMINADO]  DEFAULT ((0)) FOR [ELIMINADO]
GO
ALTER TABLE [dbo].[TICKET] ADD  CONSTRAINT [DF_TICKET_FE_REGISTER]  DEFAULT (getdate()) FOR [FE_REGISTER]
GO
ALTER TABLE [dbo].[TICKET] ADD  CONSTRAINT [DF_TICKET_HOSTING]  DEFAULT ((0)) FOR [HOSTING]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "UFN_TICKET_IMPRESION_1"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 199
               Right = 410
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_TICKET_IMPRESION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_TICKET_IMPRESION'
GO
