USE [BDATOS]
GO
/****** Object:  Table [dbo].[REPARTO_CAB]    Script Date: 18/12/2024 11:58:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARTO_CAB](
	[codCia] [char](2) NOT NULL,
	[idReparto] [bigint] NOT NULL,
	[fecha] [date] NOT NULL,
	[idRepartidor] [int] NOT NULL,
	[observaciones] [varchar](300) NULL,
	[peso] [decimal](16, 2) NOT NULL,
	[cu_Register] [varchar](20) NOT NULL,
	[fe_Register] [datetime] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[cu_Delete] [varchar](20) NULL,
	[fe_Delete] [datetime] NULL,
	[motivoElimina] [varchar](200) NULL,
	[onCloud] [bit] NULL,
 CONSTRAINT [PK_REPARTO_CAB] PRIMARY KEY CLUSTERED 
(
	[codCia] ASC,
	[idReparto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REPARTO_DET]    Script Date: 18/12/2024 11:58:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARTO_DET](
	[codCia] [char](2) NOT NULL,
	[idReparto] [bigint] NOT NULL,
	[idPedido] [bigint] NOT NULL,
	[idVendedor] [bigint] NOT NULL,
        [onCloud] [bit] NULL,
 CONSTRAINT [PK_REPARTO_DET] PRIMARY KEY CLUSTERED 
(
	[codCia] ASC,
	[idReparto] ASC,
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REPARTO_DET_ITEM]    Script Date: 18/12/2024 11:58:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARTO_DET_ITEM](
	[codCia] [char](2) NOT NULL,
	[idReparto] [int] NOT NULL,
	[idPedido] [bigint] NOT NULL,
	[idProducto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[cantidadEntregada] [int] NULL,
 CONSTRAINT [PK_REPARTO_DET_ITEM] PRIMARY KEY CLUSTERED 
(
	[codCia] ASC,
	[idReparto] ASC,
	[idPedido] ASC,
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REPARTO_SYNC_LOG]    Script Date: 18/12/2024 11:58:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPARTO_SYNC_LOG](
	[idLog] [bigint] IDENTITY(1,1) NOT NULL,
	[codCia] [char](2) NOT NULL,
	[Mensaje] [varchar](500) NOT NULL,
 CONSTRAINT [PK_REPARTO_SYNC_LOG] PRIMARY KEY CLUSTERED 
(
	[idLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[REPARTO_CAB] ADD  CONSTRAINT [DF_REPARTO_CAB_fe_Register]  DEFAULT (getdate()) FOR [fe_Register]
GO
ALTER TABLE [dbo].[REPARTO_CAB] ADD  CONSTRAINT [DF_REPARTO_CAB_eliminado]  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[REPARTO_CAB] ADD  DEFAULT (NULL) FOR [motivoElimina]
GO
ALTER TABLE [dbo].[REPARTO_CAB] ADD  DEFAULT (NULL) FOR [onCloud]
GO
